server {
    access_log off;
    listen 80 default_server;
    listen [::]:80 default_server;

    root /usr/share/nginx/html;

    add_header X-Backend-Response $request_time;
    add_header Cache-Control no-cache;

    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
